body {
    font-family: Arial, sans-serif;
    background-image: url(../img/library.jpg);
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

header {
    background-color: #awdawdwadwad;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

h1 {
    font-size: 36px;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fef2e4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p {
    font-size: 18px;
    line-height: 1.5;
}

img {
    max-width: 100%;
    height: auto;
}

.contents {
    line-height: 1.5;
    list-style-type: none;
}

.link {
    color: gray;
    text-decoration: none;
